[submodule "wasi-crypto"]
	path = wasi-crypto
	url = git@github.com:idlab-discover/wasi-crypto.git
[submodule "spec"]
	path = spec
	url = git@github.com:idlab-discover/wasi-crypto.git
	branch = remove-close
